body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bde2d2;
    color: #000206;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 40px 20px;
    color: rgb(0, 14, 31);

    /* ADD IMAGE HERE */
    background-image: url("header.png");
    background-size: cover;
    background-position: center;
}


nav {
    background-color: #f4f4f4;
    text-align: left;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0b1c2d;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.card {
    background-color: #395289;
    color: #e5e7eb;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.card h4 {
    transition: color 0.3s ease;
}

.card:hover h4 {
    color: #010506;
}



ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    text-align: left;
    padding: 20px;
    background-color: #f4f4f4;
    font-size: 14px;
}